{{#if resume.work.length}}
<section id="work">
	<h2>Work</h2>
	{{#each resume.work}}
    {{> section-item title=company website=website subtitle=position startDate=startDate endDate=endDate text=summary list=highlights}}
	{{/each}}
</section>
{{/if}}