<!doctype html>
<html>
	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>

  {{#if css}}
    <style>
    {{{css}}}
    </style>
  {{/if}}

  {{#if stylesheet}}
    <link rel="stylesheet" href="{{stylesheet}}"/>
  {{/if}}

	</head>
	<body>

	<div class="max-w-6xl mx-auto">
		{{> basics }}
		{{> work }}
		{{> volunteer }}
		{{> education }}
		{{> awards }}
		{{> publications }}
		{{> skills }}
		{{> languages }}
		{{> interests }}
		{{> references }}
	</body>
</html>
