@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-orange-900;
  }

  h2 {
    @apply text-2xl mb-4 border-b-4 rounded-lg border-orange-500 inline-block break-after-avoid;
  }

  section {
    @apply break-inside-avoid;
  }

  a {
    @apply hover:underline;
  }
}
